.reaction-container {
  display: flex;
  align-items: center;
  gap: 20px; /* Add a small space between the icon and the count */
}
.dislike {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.reaction-icon {
  width: 25px; /* Adjust the width as desired */
  height: 25px; /* Adjust the height as desired */
  filter: grayscale(100%); /* Set the icons to appear in black and white */
}

.reaction-icon:hover {
  filter: grayscale(0%); /* Revert to original color on hover */
}

.reaction-count {
  margin: 0;
}
.center {
  display:flex;
  align-items: center;
  justify-content: center;
}
