.emoji {
  font-family: "Noto Color Emoji";
  font-size: 2rem;
  color: #ff5a5f;
}
.dislike {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
svg {
  pointer-events: all;
}
.reaction-count {
  margin: 1em;
}
.reaction-container {
  display: flex;
  align-items: center;
}
.like {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}
button {
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: #f0f0f0;
  cursor: pointer;
}
button:hover {
  background-color: #e0e0e0;
}

.reactions-wrapper {
  display: flex;
  gap: 10px;
}

.reactions-wrapper input[type="radio"] {
  display: none;
}

.reactions-wrapper label {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.reactions-wrapper label:hover {
  background-color: #ccc;
}

.reactions-wrapper input[type="radio"]:checked + label {
  background-color: #ccc;
  color: white;
  border: 1px solid #ccc;
}
