<div class="reactions-wrapper">
  <div class="reaction-container">
    <img
      (click)="onLove()"
      src="https://www.facebook.com/reaction/image/1678524932434102/?size=20&scale=3"
    />

    <p class="reaction-count">{{ reactionsNumbers.love }}</p>
  </div>
  <div class="reaction-container">
    <img
      (click)="onLike()"
      src="https://www.facebook.com/reaction/image/1635855486666999/?size=20&scale=3"
    />
    <p class="reaction-count">{{ reactionsNumbers.like }}</p>
  </div>
  <div class="reaction-container">
    <img
      (click)="onDislike()"
      class="dislike"
      src="https://www.facebook.com/reaction/image/1635855486666999/?size=20&scale=3"
    />
    <p class="reaction-count">{{ reactionsNumbers.dislike }}</p>
  </div>
</div>
