<footer class="footer-area">
    <div class="container">
        <div class="row">
       
        

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Contact Info</h3>

                    <ul class="footer-contact-info">
                        <li><i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i> 47, Soukra,
                           Tunis, TUNISIA</li>
                        <li><i class="flaticon-smartphone-call"></i> <a href="#">+21692756620</a></li>
                        <li><i class="flaticon-close-envelope"></i> <a href="#"><span class="__cf_email__"
                                    data-cfemail="6302070e0a0d230f0201170c4d000c0e">sofien.bouattour@esprit.tn</span></a>
                        </li>
                        <li><i class="flaticon-internet"></i> <a href="#">www.za3ma.com</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p><a href="https://envytheme.com/" target="_blank">Bouattour Sofien</a> © 2023. All rights reserved.</p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="go-top"><i class="fas fa-arrow-up"></i></div>