<footer class="footer-area">
    <div class="container">
        <div class="row">
       
    
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Contact Info</h3>

                    <ul class="footer-contact-info">
                        <li><i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i> 47, Soukra,
                           Tunis, TUNISIA 🇹🇳</li>
                        <li><i class="flaticon-smartphone-call"></i> <a>+216 92756620</a></li>
                        <li><i class="flaticon-close-envelope"></i> <a ><span >sofien.bouattour@esprit.tn</span></a>
                        </li>
                        <li><i class="fab fa-linkedin-in"></i> <a href="https://www.linkedin.com/in/sofienbou">sofienbou</a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p><a href="https://envytheme.com/" target="_blank">Bouattour Sofien</a> © 2023. All rights reserved.</p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul>
                        <li><a  target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a  target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a  target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="go-top"><i class="fas fa-arrow-up"></i></div>