<app-header></app-header>
 <!-- Start Page Title Area -->
 <div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Research</h2>

            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Research</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Research Area -->
<section class="research-area ptb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-research-box">
                    <div class="research-image">
                        <a href="#"><img src="assets/img/blog-img1.jpg" alt="image"></a>
                    </div>

                    <div class="research-content">
                        <span>Pathology</span>
                        <h3><a href="#">Organic Synthesis</a></h3>
                        <p>Enhancing Your Vision sit ametcon sec tetur adipisicing.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-research-box">
                    <div class="research-image">
                        <a href="#"><img src="assets/img/blog-img2.jpg" alt="image"></a>
                    </div>

                    <div class="research-content">
                        <span>Oncology</span>
                        <h3><a href="#">Laboratory quality control</a></h3>
                        <p>Enhancing Your Vision sit ametcon sec tetur adipisicing.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-research-box">
                    <div class="research-image">
                        <a href="#"><img src="assets/img/blog-img3.jpg" alt="image"></a>
                    </div>

                    <div class="research-content">
                        <span>Incubator</span>
                        <h3><a href="#">Cardiovascular disease</a></h3>
                        <p>Enhancing Your Vision sit ametcon sec tetur adipisicing.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-research-box">
                    <div class="research-image">
                        <a href="#"><img src="assets/img/blog-img4.jpg" alt="image"></a>
                    </div>

                    <div class="research-content">
                        <span>Vaccines</span>
                        <h3><a href="#">Nanostructured materials</a></h3>
                        <p>Enhancing Your Vision sit ametcon sec tetur adipisicing.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-research-box">
                    <div class="research-image">
                        <a href="#"><img src="assets/img/blog-img5.jpg" alt="image"></a>
                    </div>

                    <div class="research-content">
                        <span>Pathology</span>
                        <h3><a href="#">Cell and molecular biology</a></h3>
                        <p>Enhancing Your Vision sit ametcon sec tetur adipisicing.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-research-box">
                    <div class="research-image">
                        <a href="#"><img src="assets/img/blog-img6.jpg" alt="image"></a>
                    </div>

                    <div class="research-content">
                        <span>Bisafety</span>
                        <h3><a href="#">Surface cleaning</a></h3>
                        <p>Enhancing Your Vision sit ametcon sec tetur adipisicing.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-research-box">
                    <div class="research-image">
                        <a href="#"><img src="assets/img/blog-img7.jpg" alt="image"></a>
                    </div>

                    <div class="research-content">
                        <span>Pathology</span>
                        <h3><a href="#">Nuclear micro-reactors</a></h3>
                        <p>Enhancing Your Vision sit ametcon sec tetur adipisicing.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-research-box">
                    <div class="research-image">
                        <a href="#"><img src="assets/img/blog-img8.jpg" alt="image"></a>
                    </div>

                    <div class="research-content">
                        <span>Oncology</span>
                        <h3><a href="#">Metabolism Regulation</a></h3>
                        <p>Enhancing Your Vision sit ametcon sec tetur adipisicing.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-research-box">
                    <div class="research-image">
                        <a href="#"><img src="assets/img/blog-img9.jpg" alt="image"></a>
                    </div>

                    <div class="research-content">
                        <span>Incubator</span>
                        <h3><a href="#">Translational Research</a></h3>
                        <p>Enhancing Your Vision sit ametcon sec tetur adipisicing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Research Area -->
<app-footer></app-footer>