.container-all {
  display: flex;
  justify-content: flex-end;
}

.img-container {
  margin-right: 50px !important;
}

.taswirti {
  margin-right: 50px !important;
  padding: 0 2em !important;
}
.big-text {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding: 10px;
}

.normal-text li {
  margin-bottom: 5px;
}

.normal-text li {
  margin-bottom: 5px;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake-effect {
  transition: transform 0.3s;
}

.shake-effect:hover {
  animation: shake 0.5s;
}
.bg {
  border-radius: 0.75rem;
  padding: 2rem;
  background-color: #f3f4f6;
}
.containers {
  display: flex;
}

.left-side {
  flex: 1;
  margin: 20px; /* Adjust the margin value for spacing */
  padding: 20px;
}

.right-side {
  flex: 1;
  margin: 20px; /* Adjust the margin value for spacing */
  padding: 20px;
}


.box {
  background-color: #fff;
  padding: 2.5rem !important;
  margin-bottom: 24px;
  box-shadow: 0 0 1rem 0.1rem rgb(0 0 0 / 10%);
  border-radius: 1rem;
  
 
  
}
.box:hover {
  /* Apply transform effect on hover */
  transform: scale(1.05); /* Adjust the scale value as desired */
  transition: transform 0.3s;
}
.hr {
 border-opacity: 1;
 margin-top: 4rem;
    margin-bottom: 4rem;
}
