<app-header></app-header>
<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2>About ME</h2>

      <ul>
        <li><a routerLink="/aboutUs">Home</a></li>
        <li>About ME👋</li>
      </ul>
    </div>
  </div>
</div>
<div class="container-all" style="margin-right: 70px">
  <div class="container-all" style="justify-content: flex-end">
    <div class="row align-items-center">
      <div
        class="col-lg-3 col-md-6 col-sm-6 img-container"
        style="margin-right: 50px"
      >
        <div class="single-team-member">
          <br />
          <div
            class="member-image taswirti shake-effect"
            style="margin-right: 50px"
          >
            <img src="assets/img/zyro-image.png" alt="image" />
          </div>
          <div class="member-content shake-effect">
            <h3>Bouattour Sofien</h3>
            <span>Devops Student 💻</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="about-company-content" style="padding: 0">
          <span>Who is Sofien Bouattour ❔</span>
          <h2>Cloud-focused DevOps student engineering</h2>
          <h4>But before that</h4>
          <p>
            <b>Sofien Bouattour</b> is a 23-year-old software engineering
            student hailing from the vibrant downtown of Tunis. Passionate about
            technology.
          </p>
          <p>
            A dedicated and detail-oriented programmer who is constantly seeking
            opportunities to expand his knowledge and skills. Collaboration is
            at the heart of his values, as he believes that working together and
            embracing different perspectives leads to exceptional results. With
            a keen eye for detail, Sofien strives for excellence in every
            endeavor. Welcome to his website, where he shares insights and
            experiences from his technological journey.
          </p>
          <p><b>Obtained the mathematics baccalaureate degree (2019)</b></p>
          <p>
            <b
              >Private Higher School of Engineering and Technology or ESPRIT
              (Until now)</b
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Page Title Area -->

<!-- Start About Area -->
<section class="about-our-company ptb-120">
  <div class="container">
    <div class="row align-items-center bg">
      <div class="col-lg-6 col-md-12 order-lg-last">
        <div class="text-center">
          <span> <h2>Academic Projects</h2></span>
        </div>

        <p class="big-text">
          Creating of an E-sport website for gaming amateurs.
        </p>

        <p class="normal-text">
          <b>Technologies : </b>
          <li>Symfony4</li>
          <li>JavaFX</li>
          <li>CodeNameOne</li>
        </p>
        <p class="big-text">
          Creating of an Application for tennis tournment management.
        </p>

        <p class="normal-text">
          <b>Technologies : </b>
          <li>C++</li>
          <li>QT</li>
        </p>
        <p class="big-text">
          Creating a website for medical appointment management with deployment
          on cloud infrastructure.
        </p>

        <p class="normal-text">
          <b>Technologies : </b>
          <li>SpringBoot</li>
          <li>Angular</li>
          <li>MySql</li>

          <li>Openstack,Terraform,Ansible,Kubernetes ,Docker</li>
        </p>
        <p></p>
      </div>

      <div
        class="col-lg-6 col-md-12"
        style="padding-left: 10px; padding-right: 10px"
      >
        <div>
          <div class="section-title">
            <span> <h2>Professional Skills</h2></span>
          </div>
          <p><b>Web :</b></p>
          <ul>
            <li>Angular</li>
            <li>SpringBoot</li>
          </ul>
          <p><b>Programming languages :</b></p>
          <ul>
            <li>Python</li>
            <li>Java</li>
            <li>C++</li>
          </ul>
          <p><b>Devops Tools :</b></p>
          <ul>
            <li>Docker</li>
            <li>Ansible</li>
            <li>Kubernetes</li>
            <li>Terraform</li>
            <li>OpenStack</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End About Area -->

<!-- Start Funfacts Area -->
<!-- 
<section class="funfacts-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-6 col-sm-3 col-md-3">
        <div class="single-funfacts">
          <h3><span class="odometer" data-count="1050">00</span></h3>
          <p>Stars Comfort</p>
        </div>
      </div>

      <div class="col-lg-3 col-6 col-sm-3 col-md-3">
        <div class="single-funfacts">
          <h3><span class="odometer" data-count="302">00</span></h3>
          <p>Professional Staff</p>
        </div>
      </div>

      <div class="col-lg-3 col-6 col-sm-3 col-md-3">
        <div class="single-funfacts">
          <h3><span class="odometer" data-count="50">00</span></h3>
          <p>Years Of Experience</p>
        </div>
      </div>

      <div class="col-lg-3 col-6 col-sm-3 col-md-3">
        <div class="single-funfacts">
          <h3><span class="odometer" data-count="640">00</span></h3>
          <p>Suppliers</p>
        </div>
      </div>
    </div>
  </div>

  <div class="map-box1"><img src="assets/img/map1.png" alt="image" /></div>
</section>
-->
<!-- End Funfacts Area -->

<!-- Start Services Area -->
<section class="services-area ptb-120">
  <div class="container">
    <div class="section-title text-center">
      <span><h1>Languages</h1></span>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="services-box">
          <h3>French</h3>
          <p>B2</p>
          <!-- <div class="icon">
            <i class="flaticon-coding"></i>
          </div> -->

          <!-- <img src="assets/img/shape-image/9.png" alt="image" /> -->
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="services-box">
          <h3>English</h3>
          <p>B2</p>

          <!--  <div class="icon bg-24b765">
            <i class="flaticon-sugar-blood-level"></i>
          </div> -->

          <!-- <img src="assets/img/shape-image/9.png" alt="image" /> -->
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3"
      >
        <div class="services-box">
          <h3>German</h3>
          <p>A1</p>
          <!--   <div class="icon bg-f59f00">
            <i class="flaticon-computer"></i>
          </div>
 -->

          <!--     <img src="assets/img/shape-image/9.png" alt="image" /> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Area -->

<!-- Start Team Area -->
<!-- <section class="team-area ptb-120 pt-0">
  <div class="container">
    <div class="section-title">
      <span>Meet Our Team</span>
      <h2>Led by Passionate Experts</h2>
      <p>
        On the other hand we denounce with righteous indignation and dislike men
        who are so beguiled and demoralized by the pleasure of the desire that
        they cannot foresee.
      </p>

      <a href="#" class="btn btn-secondary">Meet All</a>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team-member">
          <div class="member-image">
            <img src="assets/img/team-img1.jpg" alt="image" />

            <a href="single-team.html" class="details-btn"
              ><i class="flaticon-add"></i
            ></a>
          </div>

          <div class="member-content">
            <h3><a href="#">Agaton Ronald</a></h3>
            <span>Dental Assistant</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team-member">
          <div class="member-image">
            <img src="assets/img/team-img2.jpg" alt="image" />

            <a href="single-team.html" class="details-btn"
              ><i class="flaticon-add"></i
            ></a>
          </div>

          <div class="member-content">
            <h3><a href="#">Saray Taylor</a></h3>
            <span>Dentist Expert</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team-member">
          <div class="member-image">
            <img src="assets/img/team-img3.jpg" alt="image" />

            <a href="single-team.html" class="details-btn"
              ><i class="flaticon-add"></i
            ></a>
          </div>

          <div class="member-content">
            <h3><a href="#">Robert Reed</a></h3>
            <span>Neck Expert</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-team-member">
          <div class="member-image">
            <img src="assets/img/team-img4.jpg" alt="image" />

            <a href="single-team.html" class="details-btn"
              ><i class="flaticon-add"></i
            ></a>
          </div>

          <div class="member-content">
            <h3><a href="#">Joe Root</a></h3>
            <span>Medicine Expert</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- End Team Area -->

<!-- Start Progress Area -->
<section class="our-progress-area ptb-120 bg-fff7f4">
  <div class="container">
    <div class="section-title text-center">
      <span>
        <h2>Professional experience</h2>
      </span>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <h2>July-September 2021</h2>
        <p>Summer Internship : BIAT TUNIS Headquarters.</p>
        <p>Creating an interface for acquiring a digital bank card.</p>
        <p>
          <b>Technologies</b>
          <li>React</li>
        </p>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <h2>July-September 2022</h2>
        <p>Summer Internship : OLEA Tunis.</p>
        <p>Working on a NAS Infrastructure.</p>
      </div>

      <div
        class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3"
      ></div>
    </div>
  </div>
</section>
<!-- End Progress Area -->

<!-- Start Testimonial Area -->

<!-- End Testimonial Area -->
<app-footer></app-footer>
