<app-header></app-header>
<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <h2>About ME</h2>

      <ul>
        <li><a routerLink="/aboutUs">Home</a></li>
        <li>About ME👋</li>
      </ul>
    </div>
  </div>
</div>

<div class="container-all" style="margin-left: 10%">
  <div class="container-all" style="justify-content: flex-end">
    <div class="row align-items-center">
      <div
        class="col-lg-3 col-md-6 col-sm-6 img-container"
        style="margin-right: 50px"
      >
        <div class="single-team-member">
          <br />
          <div
            class="member-image taswirti shake-effect"
            style="margin-right: 50px"
          >
            <img src="assets/img/zyro-image.png" alt="image" />
          </div>
          <div class="member-content">
            <h3>Bouattour Sofien</h3>
            <span>Devops Student 💻</span>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-12">
        <div
          class="about-company-content"
          style="padding-left: 12px; padding-top: 30px"
        >
          <br />
          <span>Who is Sofien Bouattour ❔</span>
          <h2>Cloud-focused DevOps engineering student</h2>
          <h4>But before that</h4>
          <p>
            <b>Sofien Bouattour</b> is a 23-year-old
            <b>software engineering student</b> hailing from the vibrant
            downtown of Tunis. Passionate about technology.
          </p>
          <p>
            A dedicated and detail-oriented programmer who is constantly seeking
            opportunities to expand his knowledge and skills.
          </p>
          <p>
            Collaboration is at the heart of his values, as he believes that
            working together and embracing different perspectives leads to
            exceptional results.
          </p>
          <p>
            With a keen eye for detail, Sofien strives for excellence in every
            endeavor. Welcome to his website, where he shares insights and
            experiences from his technological journey.
          </p>
          <p>
            <b>
              <a href="https://esprit.tn/"
                >Private Higher School of Engineering and Technology or ESPRIT
                (Until now)</a
              ></b
            >
          </p>
          <p><b>Obtained the mathematics baccalaureate degree (2019)</b></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Page Title Area -->
<hr />
<!-- Start About Area -->

<section class="about-our-company ptb-120">
  <div class="container">
    <div class="row">
      <div class="right-side">
        <div class="section-title">
          <span> <h2>Academic Projects</h2></span>
        </div>
        <div class="box">
          <p class="big-text">
            🚀 Creation of an E-sport website, desktop, and mobile application
            for gaming amateurs.
          </p>

          <p class="normal-text">
            <b>💻 Technologies : </b>
            <li>Symfony4</li>
            <li>JavaFX</li>
            <li>CodeNameOne</li>
          </p>
        </div>
        <div class="box">
          <p class="big-text">
            🚀 Creation of an Application for tennis tournment management.
          </p>

          <p class="normal-text">
            <b>💻 Technologies : </b>
            <li>C++</li>
            <li>QT</li>
          </p>
        </div>
        <div class="box">
          <p class="big-text">
            🚀 Creation of a website for medical appointment management with
            deployment on cloud infrastructure.
          </p>

          <p class="normal-text">
            <b>💻 Technologies : </b>
            <li>SpringBoot</li>
            <li>Angular</li>
            <li>MySql</li>

            <li>Openstack , Terraform , Ansible , Kubernetes , Docker , Git</li>
          </p>
        </div>
      </div>

      <div class="left-side">
        <div>
          <div class="section-title">
            <span> <h2>Professional Skills</h2></span>
          </div>

          <div class="box">
            <p><b>🕸️ Web :</b></p>
            <p>
              <li>Angular</li>
              <li>SpringBoot</li>
            </p>
          </div>

          <div class="box">
            <p><b>👨‍💻 Programming languages :</b></p>
            <p>
              <li>Python</li>
              <li>Java</li>
              <li>C++</li>
            </p>
          </div>

          <div class="box">
            <p><b>🛠 Devops/Cloud Tools :</b></p>
            <p>
              <li>Docker</li>
              <li>Ansible</li>
              <li>Kubernetes</li>
              <li>Terraform</li>
              <li>Git</li>
              <li>Openstack</li>
              <li>Azure</li>
              <li>AWS</li>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End About Area -->

<!-- Start Services Area -->
<section class="services-area">
  <div class="container">
    <div class="section-title text-center">
      <span><h1>Languages</h1></span>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="services-box">
          <h3>🇫🇷 French</h3>
          <p>B2</p>
          <!-- <div class="icon">
            <i class="flaticon-coding"></i>
          </div> -->

          <!-- <img src="assets/img/shape-image/9.png" alt="image" /> -->
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="services-box">
          <h3>🇺🇲 English 🇬🇧</h3>
          <p>B2</p>

          <!--  <div class="icon bg-24b765">
            <i class="flaticon-sugar-blood-level"></i>
          </div> -->

          <!-- <img src="assets/img/shape-image/9.png" alt="image" /> -->
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3"
      >
        <div class="services-box">
          <h3>🇩🇪 German</h3>
          <p>A1</p>
          <!--   <div class="icon bg-f59f00">
            <i class="flaticon-computer"></i>
          </div>
 -->

          <!--     <img src="assets/img/shape-image/9.png" alt="image" /> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Area -->

<!-- Start Team Area -->
<!-- End Team Area -->

<!-- Start Progress Area -->
<section class="our-progress-area ptb-120 bg-fff7f4">
  <div class="container">
    <div class="section-title text-center">
      <span>
        <h2>Professional experience</h2>
      </span>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <h2>August- until now 2023</h2>
        <p>
          Cloud-solution Architect / Internship 🌞:<b
            ><a href=" https://www.samrise.cloud">🏢 SamRise</a></b
          >
        </p>
        <p>💡 Setting up an IaaS with multi-node Openstack .</p>
        <p>- Deploying SaaS on VPS .</p>
        <p>- Working on AWS (EC2) and Microsoft Azure for deployments .</p>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <br />
        <h2>July-September 2022</h2>
        <p>
          Summer Internship / Research 🌞:<b
            ><a href=" https://www.olea.africa/">🏢 OLEA Tunis</a></b
          >
        </p>
        <p>📘 Research and manipulation on NAS Infrastructure .</p>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <br />
        <h2>July-September 2021</h2>

        <p>
          Summer Internship 🌞:
          <b
            ><a href="https://www.biat.com.tn/"
              >🏢 BIAT TUNIS Headquarters</a
            ></b
          >
        </p>
        <p>📊 Creating an interface for acquiring a digital bank card .</p>

        <p>
          <b>💻Technologies</b>
          <li>React</li>
        </p>
      </div>

      <div
        class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3"
      ></div>
    </div>
  </div>
</section>
<!-- End Progress Area -->

<!-- Start Testimonial Area -->

<!-- End Testimonial Area -->
<app-footer></app-footer>
