<section >
  <form class="search-form" (submit)="search()">
    <label>
      <span class="screen-reader-text"></span>
      <input
        type="search"
        name="search"
        [(ngModel)]="searchTerm"
        class="search-field form-control"
        placeholder="Search..."
      />
    </label>
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
  </form>
  <ul class="list-unstyled mt-4">
    <li *ngFor="let post of posts">
      <a
        [routerLink]="['/single-blog', post.idPost]"
        class="text-decoration-none"
        >{{ post.namePost }}</a
      >
    </li>
  </ul>
</section>
