<section class="widget widget_labto_posts_thumb">
  <h3 class="widget-title">Popular Posts</h3>
  <div *ngFor="let p of posts | slice : 0 : 5">
    <article class="item">
      <a href="#" class="thumb">
        <span class="fullimage cover bg1" role="img"></span>
      </a>
      <div class="info">
        <time>{{ p.createdAt | date }}</time>
        <h4 class="title usmall">
          <a href="#">{{ p.namePost }}</a>
        </h4>
      </div>

      <div class="clear"></div>
    </article>
  </div>
</section>
