.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 999;
}

.show-button,
.hide-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.show-button:hover,
.hide-button:hover {
  background-color: #0062cc;
}

.hide-button {
  background-color: #dc3545;
  margin-left: -4px;
}

.hide-button:hover {
  background-color: #c82333;
}
.post-image {
  width: 300; /* or whatever width you want */
  height: 220px; /* or whatever height you want */
  object-fit: cover; /* this will ensure the image fills the space without stretching */
}
.buttoncenter{
  display: block;
  margin: 0 auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
}
